<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="description" content="Kevin Hubbard's Portfolio">
  <meta name="author" content="Kevin Hubbard Jr">
  <meta name="keywords" content="kevin,hubbard,jr,full stack,web developer,coding,portfolio,HTML,CSS,Bootstrap,Jquery/AJAX,nodejs,handlebars,mongodb,git,github,heroku">
  <link href="/images/khfavicon.ico" rel="shortcut icon">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Kevin Hubbard</title>
  <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.min.css">
  <script type="text/javascript" src='/jquery/dist/jquery.min.js'></script>
  <script type="text/javascript" src='/bootstrap/dist/js/bootstrap.min.js'></script>
  {{#each js}}
    <script type="text/javascript" src='/js/{{this}}'></script>
  {{/each}}
  {{#each css}}
    <link rel="stylesheet" type="text/css" href="/css/{{this}}">
  {{/each}}
</head>
<body>

<div id="openNav">
  <div class="hamburgerMenu"></div>
  <div class="hamburgerMenu"></div>
  <div class="hamburgerMenu"></div>
</div>



  <div id="sideNav" >
   <ul id='links'>
      <li><a class="navLink" href="/">Home</a></li>
      <li><a class="navLink" href="/portfolio">Projects</a></li>
      <li><a class="navLink" href="/contact">Contact</a></li>
      <li><a class="navLink" href="/resume">Resume</a></li>
    </ul>
  </div>







{{{body}}}

<br>
<footer class="footer">
    <div class="container">
      <br>
      <p id="foot">Kevin Hubbard &copy;</p>
   </div>
</footer>


<script type="text/javascript">
  var openNav = document.getElementById('openNav');
  var sideNav = document.getElementById('sideNav');
 // sideNav.style.display = 'none';

  openNav.addEventListener('mouseover', (e) =>{
    e.preventDefault();
/*    if(sideNav.style.display === 'none') {
      sideNav.style.display = 'block';
      openNav.style.display = 'hidden';
    } else {
      sideNav.style.display = 'none';
      openNav.style.display = 'inline-block';
    }*/
    sideNav.style.width = '10%';
  });

  sideNav.addEventListener('mouseleave', () =>{
    sideNav.style.width = '0';
    openNav.style.display = 'inline-block';
  });


</script>
</body>
</html>