<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="description" content="Kevin Hubbard's Portfolio">
		<meta name="author" content="Kevin Hubbard Jr">
		<meta name="keywords" content="kevin,hubbard,jr,full stack,web developer,coding,portfolio,HTML,CSS,Bootstrap,Jquery/AJAX,nodejs,handlebars,mongodb,git,github,heroku">
		<link href="/images/khfavicon.ico" rel="shortcut icon">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Kevin Jr</title>
		
		<script type="text/javascript" src='/jquery/dist/jquery.min.js'></script>
		<script type="text/javascript" src='/bootstrap/dist/js/bootstrap.min.js'></script>
		{{#each js}}
			<script type="text/javascript" src='/js/{{this}}'></script>
		{{/each}}
		{{#each css}}
			<link rel="stylesheet" type="text/css" href="/css/{{this}}">
		{{/each}}
		<link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.min.css">
		<script src="/socket.io/socket.io.js"></script>
	</head>

	<body>
	<div class="wrapper">

		<div id="openNav">
			<div class="hamburgerMenu"></div>
			<div class="hamburgerMenu"></div>
			<div class="hamburgerMenu"></div>
		</div>

		<div id="sideNav" >
			<ul id='links'>
				<li><a class="navLink" href="/">Home</a></li>
				<li><a class="navLink" href="/portfolio">Projects</a></li>
				<li><a class="navLink" href="/contact">Contact</a></li>
				<li><a class="navLink" href="/resume">Resume</a></li>
				<li id="log"><a  class="navLink" href="/blog">Blog</a></li>
				<li><a id="logLink" class="navLink" href="#">Login</a></li>
			</ul>
		</div>

		{{{body}}}

		<div id="overlay">
			<div id="loginModel">
				<form id="loginForm" class="form-signin" action="/" method="post">
					<div class="loginContainer">
						<h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
						<label class="visually-hidden" for="uname">Email Address</label>
						<input class="form-control" type="email" name="uname" placeholder="Email address" required="" autofocus="">
						<label class="visually-hidden" for="psw">Password</label>
						<input class="form-control" type="password" name="psw" placeholder="Password" required="">
						<div class="checkbox mb-3">
							<label>
								<input type="checkbox" value="remember-me" name="remember">
								Remember me
							</label>
						</div>
						<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
					</div>
				</form>
			</div>
		</div>
		

		<footer class="footer">
			<span>Kevin Hubbard &copy; <span id="footID"></span></span>
		</footer>
		<script>
			const today = new Date();
			const year = today.getFullYear();
			document.getElementById('footID').innerText = year;
		</script>
	</div>
	</body>
</html>





