.iRound {
	width: 500px;
	margin: 15px 15px 15px 15px;
	background-color: white;
	text-align: center;
}

#allRounds {
	margin: 0 auto;
	margin-top: 50px;
	margin-bottom: 100px;
}

.waitInfo {
	padding: 0;
	margin: 0;
	list-style-type: none;
}