<div class="container">
	<div class="jumbotron">
		<h1>Some of my other hobbies</h1>
		<p id="about">(when I'm not coding away at my battlestation that is...)</p>
	</div>
	<div class="row">
		<div class="col-md-6" style="height:250px;background-color:green;"></div>
		<div class="col-md-6" style="height:250px;background-color:red;"></div>
	</div>
	<hr>
	<div class="row">
		<div class="col-md-4" style="height:250px;background-color:red;"></div>
		<div class="col-md-4" style="height:250px;background-color:green;"></div>
		<div class="col-md-4" style="height:250px;background-color:blue;"></div>
	</div>
</div>