<div id="blogForm">
	<form  action="/admin" method="post">
		<label for="author" class="formLabel">Author</label>
		<select id="author" name="author">
			<option value="Kevin H">Kevin H</option>
		</select>
		<label for="title" class="formLabel">Title:</label>
		<input id="title" type="text" name="title">
		<label for="post" class="formLabel">Body:</label>
		<textarea id="post" type="text" name="body"></textarea>
		<br>
		<input type="submit" value="Submit">
	</form>
</div>


<script src="/@ckeditor/ckeditor5-build-classic/build/ckeditor.js"></script>
<script type="text/javascript">
	ClassicEditor.create(document.querySelector('#post')).then(editor => {
		window.editor = editor;
		
	}).catch(err => {
		console.log(err.stack);
	});
</script>