<div id="blogForm">
	<form  action="/admin" method="post">
		<label for="title">Title:</label>
		<input id="title" class="blogInput" type="text" name="title">
		<label for="author">Author</label>
		<input id="author" class="blogInput" type="text" name="author">
		<label for="post">Body:</label>
		<textarea id="post" class="blogInput" type="text" name="body"></textarea>
		<input type="submit" value="Submit">
	</form>
</div>