<div id="blogForm">
	<form class="form-horizontal" action="/admin" method="post">
		<div class="form-group">
			<label for="author" class="formLabel">Author:</label>
			<select id="author" class="form-control" name="author">
				<option value="Kevin H">Kevin H</option>
			</select>			
		</div>
		<div class="form-group">
			<label for="title" class="formLabel">Title:</label>
			<input id="title" class="form-control" type="text" name="title">
		</div>
		<div class="form-group">
			<label for="post" class="formLabel">Body:</label>
			<textarea id="post" class="form-control" type="text" name="body"></textarea>		
		</div>

		<br>
		<button type="submit" class="btn btn-default">Submit</button>
	</form>
</div>


<script src="/@ckeditor/ckeditor5-build-classic/build/ckeditor.js"></script>
<script type="text/javascript">
	ClassicEditor.create(document.querySelector('#post')).then(editor => {
		window.editor = editor;
		
	}).catch(err => {
		console.log(err.stack);
	});
</script>