<div id="admin">
	<h1>Welcome to the Admin Panel, {{user.name}}!</h1>
	<p>Here's your top-secret dashboard content.</p>
	<a href="/profile/{{user.publicID}}">My Profile</a>
	<a href="/admin/messages">Messages</a>

	<div id="blogPanel">
		<form id="blogForm" action="/admin/blog-post" method="post" enctype="multipart/form-data">
			<input id="postTitle" type="text" name="title" placeholder="Blog Title">
			<br>
			<select id="postAuth" name="author">
				<option>Kevin H</option>
			</select>
			<textarea id="postBody" name="body" placeholder="Blog body..."></textarea>
			<input type="file" name="image">
			<button type="submit">Submit Blog Post</button>
		</form>
	</div>
</div>