<div id="admin">
	<h1>Welcome to the Admin Panel, {{user.name}}!</h1>
	<p>Here's your top-secret dashboard content.</p>
	<a href="/profile/{{user.publicID}}">My Profile</a>

	<div id="blogPanel">
		<input id="postTitle" type="test" name="blogTitle" placeholder="Blog Title">
		<br>
		<select id="postAuth">
			<option>Kevin H</option>
		</select>
		<textarea id="postBody" placeholder="Blog body..."></textarea>
		<form>

		</form>
		<input id="submitBtn" type="submit" name="Submit">
	</div>
</div>