<div id="main">
	<div id="paints">
		<h4>Select your colors</h4>
		<input type="checkbox" name="prussianBlue" id="prussianBlue" value="Prussian Blue">
		<label for="prussianBlue">Prussian Blue</label>

		<input type="checkbox" name="titaniumWhite" id="titaniumWhite" value="Titanium White">
		<label for="titaniumWhite">Titanium White</label>
	</div>

		<input type="checkbox" name="vandykeBrown" id="vandykeBrown" value="Van Dyke Brown">
		<label for="vandykeBrown">Van Dyke Brown</label>
</div>