<div id="calApp">
	<div id="addFood">
		<form id="foodForm" name="foodFrm" method="post">
			<label>Food Name:</label>
			<input type="text" id="fName" name="foodName"><br>
			
			<label for="foodGroup">Food Group:</label>
			<select name="foodGroup" id="foodGroup">
				<option value="Fruits">Fruits</option>
				<option value="Vegetables">Vegetables</option>
				<option value="Grains">Grains</option>
				<option value="Protein">Protein</option>
				<option value="Dairy">Dairy</option>
			</select><br>

			<label>Serving Size:</label>
			<input type="text"  id="servingSize" name="servingSize"><span>grams</span><br>
			
			<label>Calories:</label>
			<input type="text" id="calories" name="calories"><br>

			<label>Total Fat:</label>
			<input type="text"  id="totalFat" name="totalFat"><span>grams</span><br>

			<label>Saturated Fat:</label>
			<input type="text"  id="saturatedFat" name="saturatedFat"><span>grams</span><br>

			<label>Trans Fat:</label>
			<input type="text"  id="transFat" name="transFat"><span>grams</span><br>

			<label>Cholesterol:</label>
			<input type="text"  id="cholesterol" name="cholesterol"><span>milligrams</span><br>

			<label>Sodium:</label>
			<input type="text"  id="sodium" name="sodium"><span>milligrams</span><br>

			<label>Total Carbohydrates:</label>
			<input type="text"  id="totalCarbohydrates" name="totalCarbohydrates"><span>grams</span><br>

			<label>Fiber:</label>
			<input type="text"  id="fiber" name="fiber"><span>grams</span><br>

			<label>Sugar:</label>
			<input type="text"  id="sugar" name="sugar"><span>grams</span><br>

			<label>Protein:</label>
			<input type="text"  id="protein" name="protein"><span>grams</span><br>

			<input type="submit" value="Submit">
		</form>
	</div>

	<div id="addCalorie">
	</div>
	
	<div id="totals">
	</div>
</div>