<div id="main">
	<h1 id="headline">Campgear Checklist</h1>
	<div id="gear" class="list">
		<h5>Gear</h5>
		<input type="checkbox" name="hammock" value="hammock">
		<label for="hammock">Hammock</label><br>
		<input type="checkbox" name="treestraps" value="treestraps">
		<label for="treestraps">Tree Straps</label><br>
		<input type="checkbox" name="bigchair" value="bigchair">
		<label for="bigchair">Big Chair</label><br>
		<input type="checkbox" name="smallchair" value="smallchair">
		<label for="smallchair">Small Chair</label><br>
		<input type="checkbox" name="tarp" value="tarp">
		<label for="tarp">Tarp</label><br>
		<input type="checkbox" name="tarptiedown" value="tarptiedown">
		<label for="tarptiedown">Tarp Tiedown</label><br>
		<input type="checkbox" name="paracord" value="paracord">
		<label for="paracord">Paracord</label><br>

		<input type="checkbox" name="axe" value="axe">
		<label for="axe">Axe</label><br>
	</div>
	<div id="cooking" class="list">
		<h5>Cooking</h5>
		<input type="checkbox" name="cookset" value="cookset">
		<label for="cookset">Cookset</label><br>
		<input type="checkbox" name="utencils" value="utencils">
		<label for="utencils">Utencils</label><br>
		<input type="checkbox" name="plates" value="plates">
		<label for="plates">Plates</label><br>

	</div>
	<div id="food" class="list">Food</div>
	<div id="clothes" class="list">Clothes</div>
</div>