<div class="container">
	<div class="row">
		<div class="col-md-8">
			<form action="/thankyou" method="post">

				<div class="form-group">
					<label for="name" class="control-label">Name:</label><br>
					<input id="name" class="form-control" type="text" name="name" placeholder="Name">
				</div>

				<div class="form-group">
					<label for="email">Email address:</label><br>
					<input id="email" class="form-control" type="email" name="email" placeholder="Email">
				</div>

				<div class="form-group">
					<label for="msg">Message:</label>
					<textarea id="msg" class="form-control" rows="4" name="msg"></textarea>
				</div>

				<div class="form-group">
					<label class="radio-inline">
						<input type="radio" name="role" value="colleague"> Colleague
					</label>
					<label class="radio-inline">
						<input type="radio" name="role" value="employer"> Employer
					</label>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary">Submit</button>
				</div>
			</form>
		</div>

		<div id="connect" class="col-md-4">
			<h1>Connect With Me</h1>
			
				<a href="https://www.linkedin.com/in/kevin-hubbard-jr/" target="_blank"><img src="images/linkedIn.png" alt="linkedIn icon"></a>
				<a href="https://github.com/kevinhubbard" target="_blank"><img src="images/gitHub.png" alt="gitHub icon"></a>
				<a href="http://stackoverflow.com/users/7270795/kevin-hubbard" target="_blank"><img src="images/stackOverflow.png" alt="stackOverflow icon"></a>
			
		</div>
  	</div>
	</div>
</div>



