<div id="main">
	<h1>Golfcard App</h1>
	<div id="app">
		<div id="options">
			<button id="newRound">New Round</button>
			<button id="lookupRound">Lookup Round</button>
		</div>
		<div id="startGame">
			<p>start game div</p>
		</div>
		<div id="showRound">
			<p>show rounds</p>
		</div>
	</div>
</div>