<div id="title"><h1>golfcard</h1></div>

<div id="options">
	<button id="newRound">Play Now</button>
	{{!-- <button id="courses">Courses</button> --}}
	<button id="loadRound">Rounds</button>
</div>

<div id="courseInfo">
		<select id="selectHoles">
			<option value="18">18 Holes</option>
			<option value="9">9 Holes</option>
		</select>
		<select id="courses">
			{{#each crs}}
			<option value="{{this.dataValues.courseID}}">{{this.dataValues.courseName}}</option>
			{{/each}}
		</select>
		<button id="start">Start Round</button>
</div>


<div id="app">
	<p id="course"></p>
	<p id="score">E</p>
	<br>
	<p id="holeCss">Hole: <span id="hole"></span></p>
	<label for="par">Par:</label>
	<select id="par">
		<option value="3">3</option>
		<option value="4">4</option>
		<option value="5">5</option>
	</select><br>
	<input class="inp" type="checkbox" id="fir" name="fir" value="fir">
	<label class="inp" for="fir">Fairway in Regulation</label>
	<input class="inp" type="checkbox" id="gir" name="gir" value="gir">
	<label class="inp" for="gir">Green in Regulation</label>
	<button id="stroke">Stroke: <span id="strokes">0</span></button>
	<button id="nextHole">Next Hole</button>
	<div id="scoreCard">
		<table>
			<tr id="holeRow">
				<th>Hole</th>
			</tr>
			<tr id="parRow">
				<th>Par</th>
			</tr>
			<tr id="scoreRow">
				<th>Strokes</th>
			</tr>
		</table>
	</div>
</div>