<!-- Begin page content -->
<div class="container">
	<div class="row">
		<div class="col-md-8">
			<img id="portPic" src="images/portfolioPic.png">
			<p>Hello and welcome to my portfolio! My name is Kevin, an aspiring software engineer living in the central New Jersey area. I love building websites and learning how the Internet works. I'm currently enrolled in the Rutgers Coding Bootcamp, with plans of continuing my education in computer science upon course completion. The main goal of this portfolio is to showcase what projects I have contributed to, connect/collaborate with other like-minded individuals, and eventually become employed as a web developer. When I'm not sitting at my battlestation coding, I like to be outdoors partaking in numerous activities including biking, snowboarding, surfing, fishing, soccer and plenty more. </p>
		</div>
		<div id="connect" class="col-md-4">
			<h2>Connect With Me</h2>
			<ul>
				<li><a href="https://www.linkedin.com/in/kevin-hubbard-jr/" target="_blank"><img src="images/linkedIn.png"></a></li>
				<li><a href="https://github.com/kevinhubbard" target="_blank"><img src="images/gitHub.png"></a></li>
				<li><a href="http://stackoverflow.com/users/7270795/kevin-hubbard" target="_blank"><img src="images/stackOverflow.png"></a></li>
			</ul>
		</div>
  	</div>


	<div class="row skills">
			<div class="col-md-12">
				<h2>My Toolbox</h2>
			</div>
			<div class="col-md-3">
				<h3>Programming Languages</h3>
				<img src="images/js.png">
			</div>
			<div class="col-md-3">
				<h3>Front-End</h3>
				<img src="images/html5.png">
				<img src="images/css3.png">
				<img src="images/jquery.png">
				<img src="images/bootstrap.png">
			</div>
			<div class="col-md-3">
				<h3>Back-End</h3>
				<img src="images/node.png">
			</div>
			<div class="col-md-3">
				<h3>Infrastructure</h3>
				<img src="images/git.png">
				<img src="images/cl.png">
				<img src="images/mysql.png">
			</div>
	</div>
</div>
