<!-- Begin page content -->
<div class="container">
	<div class="row">
		<div class="col-md-8">
			<img id="portPic" src="/images/portfolioPic.png" alt="portfolio picture">
			<p>Hello and welcome to my portfolio! My name is Kevin, an aspiring software engineer living in the central Jersey area. I love building web apps and learning how the Internet works. Recently, I graduated from the Rutgers Coding Bootcamp and currently looking for employment as a full stack web developer. Next, my intention is to continue my education in Computer Science/Software Development. The goal of this portfolio is to showcase what <a href="/portfolio">projects</a> I have contributed towards, and connect with other like-minded individuals. Whether you would like to collaborate on freelance work, leave constructive critism regarding my site, or extend an employment opportunity to kick-off my budding new web development journey; please leave me a <a href="/contact">message here</a>, and I'll respond diligently. Thanks for stopping by!</p>
		</div>
		<div id="connect" class="col-md-4">
			<h1>Connect With Me</h1>
			
				<a href="https://www.linkedin.com/in/kevin-hubbard-jr/" target="_blank"><img src="/images/linkedIn.png" alt="linkedIn icon"></a>
				<a href="https://github.com/kevinhubbard" target="_blank"><img src="/images/gitHub.png" alt="gitHub icon"></a>
				<a href="http://stackoverflow.com/users/7270795/kevin-hubbard" target="_blank"><img src="/images/stackOverflow.png" alt="stackOverflow icon"></a>
			
		</div>
  	</div>


	<div class="row skills">
			<div class="col-md-12">
				<h2>My Toolbox</h2>
			</div>
			<div class="col-md-3">
				<h3>Programming Languages</h3>
					<div class="card">
						<div class="front">
							<img src="/images/js.png" alt="js icon front">
						</div>
						<div class="back">
							<img src="/images/jsBack.png" alt="js icon back">
						</div>
					</div>
				
			</div>
			<div class="col-md-3">
				<h3>Front-End</h3>

					<div class="card">
						<div class="front">
							<img src="/images/html5.png" alt="html icon front">
						</div>
						<div class="back">
							<img src="/images/htmlBack.png" alt="html icon back">
						</div>
					</div>

					<div class="card">
						<div class="front">
							<img src="/images/css3.png" alt="css icon front">
						</div>
						<div class="back">
							<img src="/images/css3Back.png" alt="css icon back">
						</div>
					</div>
					<div class="card">
						<div class="front">
							<img src="/images/jquery.png" alt="jquery icon front">
						</div>
						<div class="back">
							<img src="/images/jqueryBack.png" alt="jquery icon back">
						</div>
					</div>
					<div class="card">
						<div class="front">
							<img src="/images/bootstrap.png" alt="bootstrap icon front">
						</div>
						<div class="back">
							<img src="/images/bootstrapBack.png" alt="bootstrap icon back">
						</div>
					</div>	
			</div>



			<div class="col-md-3">
				<h3>Back-End</h3>
					<div id="card" class="card">
						<div class="front">
							<img src="/images/node.png" alt="node icon front">
						</div>
						<div class="back">
							<img src="/images/nodeBack.png" alt="node icon back">
						</div>
					</div>
				
			</div>



			<div class="col-md-3">
				<h3>Infrastructure</h3>
				<img src="/images/git.png" alt="git icon">
				<img src="/images/cl.png" alt="command line icon">
				<img src="/images/mysql.png" alt="mysql icon">
			</div>
	</div>
</div>