<!-- Begin page content -->
<div class="container">
{{!-- 	<div class="row">
		<div class="col-md-8">
			<img id="portPic" src="/images/portfolioPic.png" alt="portfolio picture">
			<p id="about">Hello and welcome to my site! My name is Kevin Hubbard, an aspiring software engineer living in Central Jersey. I love building web apps and learning how the Internet works. I graduated from Mercer County Community College with an Associates in Computer Science and Business Administration. I also received a certificate of completion from Rutgers Coding Bootcamp. My intention is to continue my education in Computer Science/Software Development while I look for employment as a full stack developer. The goal of this portfolio is to showcase <a href="/portfolio">projects</a> I have worked on and to connect with other like-minded individuals. If you would like me to take on your web-based project or would like me to join your team; please don't hesitate to <a href="/contact">message</a> me. I look forward to speaking with you and thanks for viewing my site!</p>
		</div>
		<div id="connect" class="col-md-4">
			<h1 class="headline">Connect With Me</h1>
				<a href="https://www.linkedin.com/in/kevin-hubbard-jr/" target="_blank"><img src="/images/linkedIn.png" alt="linkedIn icon"></a>
				<a href="https://github.com/kevinhubbard" target="_blank"><img src="/images/gitHub.png" alt="gitHub icon"></a>
				<a href="http://stackoverflow.com/users/7270795/kevin-hubbard" target="_blank"><img src="/images/stackOverflow.png" alt="stackOverflow icon"></a>
				<a href="https://www.chess.com/member/hubbadubs" target="_blank"><img src="/images/chess.png" alt="chess icon"></a>
		</div>
  	</div>


	<div class="row skills">
			<div class="col-md-12">
				<h2 class="headline">My Toolbox</h2>
			</div>
			<div class="col-md-3">
				<h3 class="headline">Programming Languages</h3>
					<div class="card">
						<div class="front">
							<img src="/images/js.png" alt="js icon front">
						</div>
						<div class="back">
							<img src="/images/jsBack.png" alt="js icon back">
						</div>
					</div>
				
			</div>
			<div class="col-md-3">
				<h3 class="headline">Front-End</h3>

					<div class="card">
						<div class="front">
							<img src="/images/html5.png" alt="html icon front">
						</div>
						<div class="back">
							<img src="/images/htmlBack.png" alt="html icon back">
						</div>
					</div>

					<div class="card">
						<div class="front">
							<img src="/images/css3.png" alt="css icon front">
						</div>
						<div class="back">
							<img src="/images/css3Back.png" alt="css icon back">
						</div>
					</div>
					<div class="card">
						<div class="front">
							<img src="/images/jquery.png" alt="jquery icon front">
						</div>
						<div class="back">
							<img src="/images/jqueryBack.png" alt="jquery icon back">
						</div>
					</div>
					<div class="card">
						<div class="front">
							<img src="/images/bootstrap.png" alt="bootstrap icon front">
						</div>
						<div class="back">
							<img src="/images/bootstrapBack.png" alt="bootstrap icon back">
						</div>
					</div>	
			</div>



			<div class="col-md-3">
				<h3 class="headline">Back-End</h3>
					<div id="card" class="card">
						<div class="front">
							<img src="/images/node.png" alt="node icon front">
						</div>
						<div class="back">
							<img src="/images/nodeBack.png" alt="node icon back">
						</div>
					</div>
				
			</div>



			<div class="col-md-3">
				<h3 class="headline">Infrastructure</h3>
				<img src="/images/git.png" alt="git icon">
				<img src="/images/cl.png" alt="command line icon">
				<img src="/images/mysql.png" alt="mysql icon">
				<img src="/images/mongo.png" alt='mongodb icon'>
				<img src="/images/gimp.png" alt="gimp icon">
			</div>
	</div> --}}




	<div class="row">
		<div class="col-md-7">
			
			<div class="row">
				<div class="col-md-6">
					<img id="portPic" src="/images/portfolioPic.png" alt="portfolio picture">
					<a href="https://www.linkedin.com/in/kevin-hubbard-jr/" target="_blank"><img class="cim" src="/images/linkedIn.png" alt="linkedIn icon"></a>
					<a href="https://github.com/kevinhubbard" target="_blank"><img class="cim" src="/images/gitHub.png" alt="gitHub icon"></a>
					<a href="http://stackoverflow.com/users/7270795/kevin-hubbard" target="_blank"><img class="cim" src="/images/stackOverflow.png" alt="stackOverflow icon"></a>
					<a href="https://www.chess.com/member/hubbadubs" target="_blank"><img class="cim" src="/images/chess.png" alt="chess icon"></a>
				</div>
				<div class="col-md-6">
					<p id="about">Welcome to my site! I'm an aspiring software engineer living in central Jersey. I love building web apps and learning how the Internet works. I'm currently in my senior year at Rider University, persuing a degree in Computer Science with a concentration in cyber security. I have received  Associates Degrees in Business Administration and Computer Science, as well as a certificate of completion from Rutgers Coding Bootcamp. My intention is to continue my education in Computer Science while I look for employment as a full stack developer. The goal of this portfolio is to showcase <a href="/portfolio">projects</a> I have worked on and to connect with other like-minded individuals. If you would like me to take on your web-based project or would like me to join your team; please don't hesitate to <a href="/contact">message</a> me. I look forward to speaking with you and thanks for viewing my site!</p>
				</div>
			</div>
			
		</div>

		<div class="col-md-5 sTest">
			<h2 class="headline">My Toolbox</h2>
			<div>
				<h3 class="headline">Programming/Scripting Languages</h3>
				<div class="front">
					<img class="tim" src="/images/java.png" alt="java icon"/>
					<img class="tim" src="/images/js.png" alt="js icon front">
					<img class="tim" src="/images/python.png" alt="python icon"/>
          
          
				</div>
			</div>
			<div>
				<h3 class="headline">Front/Back End</h3>
				<img class="tim" src="/images/html5.png" alt="html icon front">
				<img class="tim" src="/images/css3.png" alt="css icon front">
				<img class="tim" src="/images/jquery.png" alt="jquery icon front">
				<img class="tim" src="/images/bootstrap.png" alt="bootstrap icon front">
				<img class="tim" src="/images/node.png" alt="node icon front">
			</div>

			<div>
				<h3 class="headline">Infrastructure</h3>
				<img class="tim" src="/images/git.png" alt="git icon">
				<img class="tim" src="/images/terminal.svg" alt="command line icon">
				<img class="tim" src="/images/mysql.png" alt="mysql icon">
				<img class="tim" src="/images/mongo.png" alt='mongodb icon'>
{{!-- 				<img class="tim" src="/images/gimp.png" alt="gimp icon"> --}}
				<img class="tim" src="/images/heroku-original.svg" alt="heroku icon">
			</div>

			<div>
				<h3 class="headline">OS</h3>
				<img class="tim" src="/images/linux-original.svg" alt="linux icon">
				<img class="tim" src="/images/windows11-original.svg" alt="windows icon">
			</div>
		</div>
		
  	</div>















</div>

{{!-- <div class="col-md-9 sTest">
					<h1 class="headline">Connect With Me</h1>
					
				</div> --}}