<div id="calApp" class="container">
	<div class="row">
		<div id="addFood" class="col-4">
			<h1>Add Ingredient</h1>
			<form id="foodForm" name="foodFrm" method="post">
				<input type="text" id="fName" name="ingredientName">
				<label>Food Name</label><br>
				
				<select name="foodGroup" id="foodGroup">
					<option value="Fruit">Fruit</option>
					<option value="Vegetable">Vegetable</option>
					<option value="Grain">Grain</option>
					<option value="Protein">Protein</option>
					<option value="Dairy">Dairy</option>
				</select><label for="foodGroup">Food Group</label><br>
				
				<input type="text"  id="servingSize" name="servingSize" placeholder="grams">
				<label>Serving Size</label><br>
				
				<input type="text" id="calories" name="calories">
				<label>Calories</label><br>
				
				<input type="text"  id="totalFat" name="totalFat" placeholder="grams">
				<label>Total Fat</label><br>

				<input type="text"  id="saturatedFat" name="saturatedFat" placeholder="grams"><label>Saturated Fat</label><br>

				<input type="text"  id="transFat" name="transFat" placeholder="grams">
				<label>Trans Fat</label><br>

				<input type="text"  id="cholesterol" name="cholesterol" placeholder="milligrams">
				<label>Cholesterol</label><br>

				<input type="text"  id="sodium" name="sodium" placeholder="milligrams">
				<label>Sodium</label><br>

				<input type="text" id="totalCarbohydrates" name="totalCarbohydrates" placeholder="grams">
				<label>Carbohydrates</label><br>

				<input type="text"  id="fiber" name="fiber" placeholder="grams">
				<label>Fiber</label><br>

				<input type="text"  id="sugar" name="sugar" placeholder="grams">
				<label>Sugar</label><br>

				<input type="text"  id="protein" name="protein" placeholder="grams">
				<label>Protein</label><br>

				<input type="submit" value="Submit">
			</form>
		</div>

		<div id="addCalorie" class="col-4">
			<h1>Ingredient List</h1>
			<div id="ingredients">
				<div >
					<h1  class="foodGroupIngredientList">Fruits</h1>
					<div id="fruitFoodGroup"></div>
				</div>
				<div >
					<h1 class="foodGroupIngredientList">Vegetables</h1>
					<div id="vegetableFoodGroup"></div>
				</div>
				<div >
					<h1 class="foodGroupIngredientList">Grains</h1>
					<div id="grainFoodGroup"></div>
				</div>
				<div >
					<h1 class="foodGroupIngredientList">Protein</h1>
					<div id="proteinFoodGroup"></div>
				</div>
				<div >
					<h1 class="foodGroupIngredientList">Dairy</h1>
					<div id="dairyFoodGroup"></div>
				</div>
			</div>
		</div>
		
		<div id="totals" class="col-4">
			<h1>Ingredient Info</h1>
			<div id="ingredientInfo">
				<h6>Name: <span class="info" id="nameInfo">-</span><span class="ingredientDV">%Daily Value</span></h6>
				<h6>Food Group: <span class="info" id="foodGroupInfo">-</span></h6>
				<h6>Serving Size: <span class="info" id="servingSizeInfo">-</span></h6>
				<h6>Calories: <span class="info" id="caloriesInfo">-</span><span id="caloriesDV" class="ingredientDV"></span></h6>
				<h6>Total Fat: <span class="info" id="totalFatInfo">-</span><span id="totalFatDV" class="ingredientDV"></span></h6>
				<h6>Saturated Fat: <span class="info" id="saturatedFatInfo">-</span><span id="saturatedFatDV" class="ingredientDV"></span></h6>
				<h6>Trans Fat: <span class="info" id="transFatInfo">-</span><span id="transFatDV" class="ingredientDV"></span></h6>
				<h6>Cholesterol: <span class="info" id="cholesterolInfo">-</span><span id="cholesterolDV" class="ingredientDV"></span></h6>
				<h6>Sodium: <span class="info" id="sodiumInfo">-</span><span id="sodiumDV" class="ingredientDV"></span></h6>
				<h6>Total Carbohydrates: <span class="info" id="carbohydratesInfo">-</span><span id="totalCarbohydratesDV" class="ingredientDV"></span></h6>
				<h6>Fiber: <span class="info" id="fiberInfo">-</span><span id="fiberDV" class="ingredientDV"></span></h6>
				<h6>Sugar: <span class="info" id="sugarInfo">-</span><span id="sugarDV" class="ingredientDV"></span></h6>
				<h6>Protein: <span class="info" id="proteinInfo">-</span><span id="proteinDV" class="ingredientDV"></span></h6>
				<button  type="button" class="btn btn-warning" id="editIngredient">Edit Ingredient</button>
				<button type="button" class="btn btn-primary" id="addToMeal">Add To Meal</button>
			</div>
		</div>
	</div>

	<div class="row" id="mealInfo">
		<div class="col-md-6">
			<h1>Meal Ingredients</h1>
			<div id="mealIngredients"></div>
			<button type="button" class="btn btn-danger" id="removeIngredient">Remove Ingredient</button>
			<button type="button" class="btn btn-primary" id="createMeal">Create Meal</button>
		</div>
		<div class="col-md-6">
			<h1>Nutritional Info</h1>
			<div id="mealNutrition" ></div>
		</div>
	</div>
</div>