<div class="container">
	<div class="row">
		<div id="apps" class="col-md-8">
			<h1 class="headline">Portfolio</h1>

			<div class="project">
				<a href="/golfcard">
					<img src="/images/golfcard.jpg" alt="project 1">
					<p class="appName">Golfcard</p>
				</a>
			</div>

			<div class="project">
				<a href="/card-games">
					<img src="/images/cardGames.jpg" alt="">
					<p class="appName">Card Games</p>
				</a>
			</div>

			<div class="project">
				<a href="/workout">
					<img src="/images/liriPic.jpg" alt=" ">
					<p class="appName">Workroutine</p>
				</a>
			</div>

			<div class="project">
				<a id="link" href="/meals">
					<img class="img" src="/images/deli.jpg" alt="project 7">
					<p class="appName">Meal Maker</p>
				</a>
			</div>

			<div class="project">
				<a href="/botw">
					<img src="/images/landscaping.jpg" alt="project 2">
					<p class="appName">BOTW Recipe Guide</p>
				</a>
			</div>

			<div class="project">
				<a href="https://github.com/kevinhubbard/JavaClassTemplate">
					<img src="/images/phoneFile.jpg" alt="project 3">
					<p class="appName">Java Class Template</p>
				</a>
			</div>

			<div class="project">
				<a href="https://www.li-labor.com">
					<img src="/images/deli.jpg" alt="project 4">
					<p class="appName">Li-Labor</p>
				</a>
			</div>

			<div class="project">
				<a href="https://github.com/kevinhubbard/liri-node-app">
					<img src="/images/liriPic.jpg" alt="project 5">
					<p class="appName">LIRI Node App</p>
				</a>
			</div>

			<div class="project">
				<a id="link" href="https://github.com/kevinhubbard/folderSync">
					<img class="img" src="/images/folderSync.jpg" alt="project 6">
					<p class="appName">Folder Sync</p>
				</a>
			</div>
		</div>

		<div id="connect" class="col-md-4">
			<h1 class="headline">Connect With Me</h1>
			
				<a href="https://www.linkedin.com/in/kevin-hubbard-jr/" target="_blank"><img src="/images/linkedIn.png" alt="linkedIn icon"></a>
				<a href="https://github.com/kevinhubbard" target="_blank"><img src="/images/gitHub.png" alt="gitHub icon"></a>
				<a href="http://stackoverflow.com/users/7270795/kevin-hubbard" target="_blank"><img src="/images/stackOverflow.png" alt="stackOverflow icon"></a>
				<a href="https://www.chess.com/member/hubbadubs " target="_blank"><img src="/images/chess.png" alt="chess icon"></a>
		</div>
	</div>
</div>