<div class="container">
	<div class="row">
		<div  class="col-md-8">
			<h1>Portfolio</h1>
			<div class="project">
				<a href="https://east-windsor-deli.herokuapp.com/">
				<img src="/images/deli.jpg" alt="project 2">
				</a>
				<p class="text">East Windsor Deli</p>
			</div>

			<div class="project">
				<a href="https://giphy-search-kfh.herokuapp.com/">
				<img src="/images/project3.jpg" alt="project 3">
				</a>
				<p class="text">Giphy Search</p>
			</div>

			<div class="project">
				<a href="https://github.com/kevinhubbard/liri-node-app">
				<img src="/images/liriPic.jpg" alt="project 4">
				</a>
				<p class="text">LIRI Node App</p>
			</div>

			<div class="project">
				<a href="https://login-template.herokuapp.com/">
				<img src="/images/ulTemplate.jpg" alt="project 5">
				</a>
				<p class="text">User Login Template</p>
			</div>

			<div class="project">
				<a id="link" href="https://pure-atoll-60901.herokuapp.com/">
				<img class="img" src="/images/project1.jpg" alt="project 1">
				</a>
				<p class="text">Restaurant Roulette</p>
			</div>

			<div class="project">
				<a href="#">
				<img src="/images/discover.jpg" alt="project 6">
				</a>
				<p class="text">Discover</p>
			</div>


		</div>

		<div id="connect" class="col-md-4">
			<h1>Connect With Me</h1>
			
				<a href="https://www.linkedin.com/in/kevin-hubbard-jr/" target="_blank"><img src="/images/linkedIn.png" alt="linkedIn icon"></a>
				<a href="https://github.com/kevinhubbard" target="_blank"><img src="/images/gitHub.png" alt="gitHub icon"></a>
				<a href="http://stackoverflow.com/users/7270795/kevin-hubbard" target="_blank"><img src="/images/stackOverflow.png" alt="stackOverflow icon"></a>
			
		</div>
  	</div>
	</div>
</div>