<div class="container">
	<div class="row">
		<div  class="col-md-8">
			<h1>Portfolio</h1>
			<div class="project">
				<a id="link" href="https://pure-atoll-60901.herokuapp.com/">
				<img class="img" src="images/project1.jpg">
				</a>
				<p class="text">Restaurant Roulette</p>
			</div>

			<div class="project">
				<a href="https://discoverapp.herokuapp.com/">
				<img src="images/discover.jpg">
				</a>
				<p class="text">Discover</p>
			</div>

			<div class="project">
				<a href="https://pure-atoll-60901.herokuapp.com/">
				<img src="images/project3.jpg">
				</a>
				<p class="text">To be determined</p>
			</div>


		</div>

		<div id="connect" class="col-md-4">
			<h2>Connect With Me</h2>
			<ul>
				<li><a href="https://www.linkedin.com/in/kevin-hubbard-jr/" target="_blank"><img src="images/linkedIn.png"></a></li>
				<li><a href="https://github.com/kevinhubbard" target="_blank"><img src="images/gitHub.png"></a></li>
				<li><a href="http://stackoverflow.com/users/7270795/kevin-hubbard" target="_blank"><img src="images/stackOverflow.png"></a></li>
			</ul>
		</div>
  	</div>
	</div>
</div>