<div id="profile">
	<h1>Welcome: {{user.name}}!</h1>
	<p>Email: {{user.email}}</p>
	<p>publicID: {{user.publicID}}</p>
	<p>role: {{user.role}}</p>
	<a href="/logout">Logout</a>
	{{#ifEquals user.role 'admin'}}
	<a href="/admin">Admin Page</a>
	{{/ifEquals}}

	<ul id="appLinks">
		<li>Golfcard</li>
		<ul>
			<li><a href="/golfcard">Golfcard</a></li>
			<li><a href="/golfcard/rounds/active">Active Rounds</a></li>
			<li><a href="/golfcard/rounds/create">Create a Round</a></li>
		</ul>
		<li>Blog</li>
		<ul>
			<li><a href="/blog">Blog</a></li>
		</ul>
		<li>Contact</li>
		<ul>
			<li><a href="/contact">Contact</a></li>
		</ul>
		</ul>
</div>