<div id="signupForm">
	{{#if message}}
    	<div style="color: {{#if success}}green{{else}}red{{/if}};">
      		{{message}}
    	</div>
  	{{/if}}
	<form action="/signup" method="post">
		<input type="email" name="userEmail" placeholder="Email">
		<input type="text" name="userName" placeholder="Name">
		<input type="password" name="userPassword" placeholder="Password">

		<div class="g-recaptcha" data-sitekey="6LdobIUrAAAAAPxhWpK-uM8p0KBmZAdc99_wEUG8"></div>
		<input type="submit" value="Create Account">
	</form>

	<script src="https://www.google.com/recaptcha/api.js" async defer></script>
</div>