<div>
	<div id="header"><h1>Messages</h1></div>
	<div id="adminMessages">
		{{#each msg}}
			<div class="msg">
				<ul >
					<li>Name: {{this.dataValues.name}}</li>
					<li>Email: {{this.dataValues.email}}</li>
					<li>Message: {{{this.dataValues.message}}}</li>
				</ul>
				<button data-action="delete" data-item-id='{{this.dataValues.messageID}}' class="deleteMsg" type="button">Delete</button>
			</div>
		{{/each}}
	</div>
</div>
