<div class="jumbotron">
	<div class="container">
		<p style="color: black">Thank you <span style="color: blue">{{name}}</span>, I have received your information and will respond to you at <span style="color: blue">{{email}}</span>.</p>
	</div>
</div>