<div style="width: 75%; margin: 0 auto; text-align: center;" class="jumbotron">
	
		<p style="color: black">Thank you <span style="color: blue">{{name}}</span>, I have received your information and will respond to you at <span style="color: blue">{{email}}</span> shortly&hellip;</p>
</div>