<div id="main">
	<div id="appSelection">
		<button id="progress">View Progress</button>
		<button id="load">Load Routine</button>
		<button id="create">Create Routine</button>
	</div>

	<div id="progressView">
	</div>

	<div id="loadView">
		
	</div>

	<div id="createView">
		<select id="muscleGroup">
			<option id="absOpt" value="1">Abs</option>
			<option id="armOpt" value="2">Arms</option>
			<option id="backOpt" value="3">Back</option>
			<option id="chestOpt" value="4">Chest</option>
			<option id="legOpt" value="5">Legs</option>
			<option id="shldrOpt" value="6">Shoulders</option>

		</select>
		<select id="muscle"></select>
		<select id="workout"></select>
		<button id="addWrkt">Add Workout</button>
		<div id="workoutList"></div>
		<button id="createRoutine">Create Routine</button>
		<button id="removeWorkout" class="btn danger">Remove Workout</button>
		<div id="myModal" class="modal">
			<span class="close">&times;</span>
			<div class="modal-content">
				<p>Enter Name for Workout: <input id="routineName" placeholder="ie: Monday Back/Chest"></input></p>
			</div>
			<button id="submitRoutine">Create</button>
		</div>
	</div>
</div>