<div id="main">
	<div id="appSelection">
		<button id="progress">View Progress</button>
		<button id="load">Load Routine</button>
		<button id="create">Create Routine</button>
	</div>

	<div id="progressView">
	</div>

	<div id="loadView">
	</div>

	<div id="createView">
		<select id="muscleGroup" size="6">
			<option id="absOpt" value="1">Abs</option>
			<option id="armOpt" value="2">Arms</option>
			<option id="backOpt" value="3">Back</option>
			<option id="chestOpt" value="4">Chest</option>
			<option id="legOpt" value="5">Legs</option>
			<option id="shldrOpt" value="6">Shoulders</option>

		</select>
		<select id="muscle"></select>
	</div>
</div>