html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin: 60px 0 60px 0;
  /* Background */
  background: url(../images/background.png);
}

/* NAVBAR */
.navbar-nav{
  float:right;
  height: 55px;
}

#navbar a:hover {
  background: blue;
  color: #FFF;
  border: 3px outset #808081;
}
/* NAVBAR */

/* START BODY */
h1,h2,h3,p{
  color: white;
}
/* END BODY */

/* START FOOTER */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #e7e7e7;
  /* Set the fixed height of the footer */
  height: 60px;
}
.footer p{
  margin: 20px 0 0 0;
}
/* END FOOTER */


