#admin {
	margin: 0 auto;
	width: 90%;
	height: auto;
	background-color: white;
}

#blogPanel {
	width: 500px;
	height: 500px;
	border: 1px solid black;
}

#profile {
	background-color: pink;
	margin-top: 100px;
	width: 85%;
	height: auto;
}