/* ~~~~~~~~~~~~~~~~~~~~~~/admin~~~~~~~~~~~~~~~~~~~~~~~~~ */
.formLabel{
  display: block;
  color: white;
}

#blogForm{
  width: 750px;
  height: 750px;
  margin: 0 auto;
}
.ck-content{
  min-height: 150px;
}

#editBlog{
  width: 750px;
  height: 750px;
  margin: 0 auto;
}
