/* ~~~~~~~~~~~~~~~~~~~~~~/blog~~~~~~~~~~~~~~~~~~~~~~~~~ */
#blogHeader{
  text-align: center;
}
#blogPage{
  color: white;
  width: 550px;
  margin: 0 auto;
  margin-bottom: 50px;
}

#postEntry{
  color:white;
  width: 750px;
  height: 100%;
  margin: 0 auto;
}

.post{
  border: 2px solid white;
  padding-left: 5px;
}
.postAuthor{
  line-height: 3px;
}
.postTitle{
  padding-bottom: 10px;
}
.postBody{
  padding-top: 5px;
}
