#blogPage {
	margin: 0 auto;
	margin-top: 2%;
	display: inline-block;
	width: 1090px;
	height: 800px;
	background-color: lightgrey;
	background-color: rgba(255, 255, 255, 0.35); /* white with 80% opacity */
}

img.blogBody {
	max-width: 100%;
	height: 100%;
	width: auto;
	height: auto;
	display: block;
	object-fit: contain;
}

.blogPreview {
	background-color: white;
	display: inline-block;
	width: 350px;
	height: 350px;
	overflow: hidden; /* optional: hides any accidental overflow */
	box-sizing: border-box;
	margin: 5px 5px 5px 5px; /* optional */
}

.blogShort {
	margin: 0 auto;
	width: 85%;
	height: 52%;
	overflow: hidden;
	font-size: 16px;
	line-height: 1.6;
	margin-top: 10%;
	margin-bottom: 10%;
}

#blogTitle, #dateAuthor {
	text-align: center;
}

#dateAuthor {
	font-size: 14px;
}

#more {
	text-decoration: none;
}

#more:hover {
	text-decoration: underline;
}

#titlePage {
	text-align: center;
	font-weight: bold;
}