*, html, body {
	margin: 0;
	padding: 0;
}

h1 {
	text-decoration: underline;
	text-align: center;
}

.info {
	font-size: 24px;
}

#openNav {
	margin-top: 50px;
}

#calApp {

	margin: 0 auto;
	margin-top: 50px;
	display: inline-block;
}

#addFood {
	background-color: pink;
	display: inline-block;
	overflow: wrap;
}

#addCalorie {
	background-color: lightgreen;
	display: inline-block;
}

#totals {
	margin: 0 auto;
	background-color: lightblue;
	display: inline-block;
	padding-bottom: 15px;
}

#mealIngredients {
	background-color: greenyellow;
}

#mealNutrition {
	background-color: yellowgreen;
}

#foodForm input, select {
	margin-top: 5px;
	margin-left: 33%;
	width: 100px;
}

#mealInfo {
	margin-top: 25px;
	background-color: lightblue;
}

.ingredientDV {
	float: right;
	margin-right: 100px;
}

.row {
	padding-bottom: 15px;
}