*,html{
	margin: 0;
	padding: 0;
}
@media only screen and (max-width: 600px) {
#title {
	background-color: lightblue;
	height:10vh;
	margin: 0 auto;
	position: relative;
}
#app {
	background-color: green;
	height: 85vh;
	text-align: center;
}
#foot {
	background-color: lightblue;
	height: 5vh;
	text-align: center;
}
h1 {
	text-align: center;
	position: absolute;
	top: 15%;
	left: 38%;
}
#score {
	font-size: 72px;
}
button {
	margin: 0 auto;
	margin-top: 10px;
	display: block;
	width: 75%;
	height: 15%;
}
#holeCss {
	display: inline;
}
select {
	margin-bottom: 10px;
}

}