*,html{
	margin: 0;
	padding: 0;
}

/*#course {
	display: inline-block;
	border: 1px solid black;
}*/

@media only screen and (max-width: 600px) {
	#title {
		background-color: lightblue;
		text-align: center;
		width: 100%;
		height: 10vh;
	}

	#courseInfo {
		margin: auto;
		padding-top: 50px;
		display: block;
		background-color: lightgreen;
		height: 85vh;
		box-sizing: border-box;
	}

	#options {
		margin: 0 auto;
		padding-top: 50px;
		display: block;
		background-color: yellow;
		height: 85vh;
		font-size: 0;
		box-sizing: border-box;
	}

	#options button{
		margin: 0 auto;
		display: block;
		width: 75%;
		margin-bottom: 20px;
		height: 100px;
	}

	#newRound {
		background-image: url('/images/play.jpg');
		background-size: cover;
		margin-top: 20px;
		width: 75%;
		padding-bottom: 60px;
	}

	#courses {
		background-image: url('/images/course.jpg');
		background-size: cover;
		margin-top: 20px;
		margin-bottom: 20px;
		width: 75%;
		padding-bottom: 60px;
	}

	#loadRound {
		background-image: url('/images/score.jpg');
		background-size: cover;
		margin-top: 20px;
		width: 75%;
		padding-bottom: 60px;
	}

	#newRound:hover {
		font-size: 25px;
		font-weight: bold;
		color: white;
	}

	#courses:hover {
		font-size: 25px;
		font-weight: bold;
		color: white;
	}

	#loadRound:hover {
		font-size: 25px;
		font-weight: bold;
		color: white;
	}

	#selectHoles {
		display: block;
		margin: auto;
		width: 175px;
		height: 75px;
		text-align: center;
	}
	#start {
		width: 175px;
		height: 75px;
		display: block;
		margin: auto;
	}

	#selectCourse {
		margin: auto;
		margin-top: 5px;
		margin-bottom: 5px;
		display: block;
		text-align: center;
		width: 175px;
		height: 75px;
	}

	#app {
		background-color: lightgreen;
		height: 85vh;
		text-align: center;
	}


	#score {
		font-size: 72px;
	}

	#holeCss {
		display: inline;
	}

	#stroke {
		margin: auto;
		margin-top: 10px;
		width: 90%;
		height: 100px;
	}

	#nextHole {
		margin: auto;
		margin-top: 10px;
		margin-bottom: 10px;
		width: 90%;
		height: 100px;
	}

	#scoreCard {
		width: 100%;
	}

	table {
		display: block;
		overflow-x: auto;
		white-space: nowrap;
		table-layout: fixed;
	}

	td {
		min-width: 25px;
		min-height: 25px;
	}
}