@media only screen and (min-width: 800px) {
  #about {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 1px;
    color: white;
  }

  .skills{
    text-align: center;
    margin-bottom: 50px;
  }

  .card {
    display: inline-block;
    position: relative;
    width: 128px;
    height: 128px;
    margin-bottom: 5px;
  }


#portPic {
    display: inline-block;
    margin: 0 auto;
   /* margin-bottom: 20px;*/
    border-radius: 25px;
    
}
  #state{
    visibility: hidden;
  }
}
@media only screen and (max-width: 600px) {

}


.back {
  display: none;
}

.connect {
  display: inline;
}

.headline {
  display: block;
}


.sTest {
  text-align: center;

}

.tim {
  width: 72px;
  height: 72px;
}

.cim {
  width: 24px;
  height: 24px;
}