@media only screen and (min-width: 800px) {
  .skills{
    text-align: center;
    margin-bottom: 50px;
  }

  .card {
    display: inline-block;
    position: relative;
    width: 128px;
    height: 128px;
    margin-bottom: 5px;
  }

  #state{
    visibility: hidden;
  }
}

@media only screen and (max-width: 766px) {
  #about{
    margin-top: 10px;
  }

 #picBlock {
    display: block;
    width: fit-content; 
    margin: 0 auto;   
  }
}

.container {
  margin-bottom: 75px;
}

#picBlock {
  display: block;
}

#portPic {
  max-width: 100%;
  height: auto;
  border-radius: 25px;
}

#about {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 1px;
  color: white;
  margin-bottom: 50px;
}

.back {
  display: none;
}

.connect {
  display: inline;
}

.headline {
  display: block;
}

.sTest {
  text-align: center;
}

.tim {
  width: 72px;
  height: 72px;
}

.cim {
  width: 24px;
  height: 24px;
}

.hcont {
  position: relative;
  display: inline-block;
}

.hcont img {
  display: block;
  position: relative;
  z-index: 2;
  transition: opacity 0.4s ease;
}

.hcont .hidTxt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: white;
  font-size: 24px;
  text-align: center;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.hcont:hover img {
  opacity: 0;
}

.hcont:hover .hidTxt {
  opacity: 1;
}

#logo {
  margin-top: 50px;
  text-align: center;
  font-size: 44px;
  user-select: none;
}

@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

.cursor {
  animation: blink 1s step-end infinite;
}