*,html {
  margin: 0;
  padding: 0;
}

.container, #openNav {
  margin-top: 50px;
}

.project {
  display: inline-block;
  margin-bottom: 10px;
  position: relative;
}

#apps{
  text-align: center;
}

.appName{
  position: absolute;
  top: 75%;
  width: 100%;
  color: white;
  font-weight: bold;
  background-color: grey;
  text-align: center;
}

#apps img {
  width: 275px;
  height: 200px;
}