
* {
	margin: 0;
}

html{
	position: relative;
	min-height: 100%;
}
body{
	margin-bottom: 75px;
	background-image: url(../images/#######);
}

h1 {
	font-family: Georgia, Times, 'Times New Roman', serif;
	display:inline-block;
	padding: 10px 20px 10px 20px;
}
ul {
	display: inline-block;
}
ul li {
	display: inline;
}
#nav {
	text-align: center;
}
#siteLinks{
	width: auto;
	background-color: lightgreen;
}
/* ~~~~~~~~~~~~~~~~MAIN-DIV~~~~~~~~~~~~~~~~ */

#main{
	border: 2px solid black ;
	text-align: center;
	width: 75%;
	margin: 0 auto;
}

#profileLinks {
	width: auto;
	text-align: center;
	
}


h2{
	text-align: center;
}

#about p {
	padding-top: 15px;
	text-align: center;
	width: 75%;
	margin: 0 auto;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	border: 2px solid green;
}


#connect{
	border: 2px solid yellow;
}


form{
	text-align: left;
}


#body{
	min-height: 100%;
	margin-bottom: -75px;
}

#skills{
	text-align: center;
}



/* ~~~~~~~~~~~~~~~~SKILLS~~~~~~~~~~~~~~~~ */







/* ~~~~~~~~~~~~~~~~FOOTER~~~~~~~~~~~~~~~~ */

footer{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 75px;
	background: lightpink;
	text-align: center;
}


