/* ~~~~~~~~~~~~~~~~~~~~~~/mainLayout~~~~~~~~~~~~~~~~~~~~~ */
html {
  position: relative;
/*  min-height: 100vh;
  margin-top: 50px;*/
}

body {
  background: url(../images/background.png);
}

#openNav {
  position: fixed;
  z-index: 1;
  display: inline-block;
  width: auto;
  margin-left: 2%;
  margin-top: 2%;
}

.hamburgerMenu {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px;
}

#sideNav{
  background-color: #111;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.5s;
}

#sideNav ul {
  padding: 0;
  list-style-type: none;
}

#sideNav ul li {
  margin-top: 20%;
  text-align: center;
  padding: 10px 0px 10px 0px;
}

#sideNav a {
  font-size: 25px;
  color: white;
  transition: 0.3s;
}

#log{
  margin-bottom: 70%;
}

.headline{
  color: white;
  text-decoration: underline;
}

#connect{
  margin: 0 auto;
  text-align: center;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 10px 0px 10px 0px;
  background-color:  #f5f5f5;  
  text-align: center;
  z-index: 2;
}


.wrapper{
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
@media only screen and (max-width: 600px) {

}



.container {
  margin-top: 50px;
}

#frontCanvas {
  background-color: transparent;
  margin: 0 auto;
  width: 50%;
  height: 100px;
  border: 2px solid #FF69B4;
}

#backCanvas {
  background-color: transparent;
  margin: 0 auto;
  width: 50%;
  height: 100px;
}

#loginModel {
  display: none;

  position: absolute;
    left: 35%;
  top: 35%;
  z-index: 5;
  background-color: black;
    width: 500px;
  height: 500px;
}



#loginForm {

  display: block;
  background-color: white;
}

#closeLogin {
  display: block;
  float: right;
  font-size: 24px;
  margin: 0px 10px 0px 0px;
  padding: 0px 10px 0px 10px;
  border: 1px solid black;
}

#closeLogin:hover {
  cursor: pointer;
}


#signupForm {
  margin: 0 auto;
  display: block;
  width: 500px;
  height: 500px;
}