/* ~~~~~~~~~~~~~~~~~~~~~~/mainLayout~~~~~~~~~~~~~~~~~~~~~ */
html {
  position: relative;
/*  min-height: 100vh;
  margin-top: 50px;*/
}

body {
  background: url(../images/background.png);
}

#openNav {
  position: fixed;
  z-index: 1;
  display: inline-block;
  width: auto;
  margin-left: 2%;
  margin-top: 2%;
}

.hamburgerMenu {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px;
}

#sideNav{
  background-color: #111;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.5s;
}

#sideNav ul {
  padding: 0;
  list-style-type: none;
}

#sideNav ul li {
  margin-top: 20%;
  text-align: center;
  padding: 10px 0px 10px 0px;
}

#sideNav a {
  font-size: 25px;
  color: white;
  transition: 0.3s;
}

#log{
  margin-bottom: 40%;
}

.headline{
  color: white;
  text-decoration: underline;
}

#connect{
  margin: 0 auto;
  text-align: center;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 10px 0px 10px 0px;
  background-color:  #f5f5f5;  
  text-align: center;
  z-index: 2;
}

.wrapper{
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.container {
  margin-top: 50px;
}

#frontCanvas {
  background-color: transparent;
  margin: 0 auto;
  width: 50%;
  height: 100px;
  border: 2px solid #FF69B4;
}

#backCanvas {
  background-color: transparent;
  margin: 0 auto;
  width: 50%;
  height: 100px;
}

#loginModel h1 {
  text-align: center;
}

#loginModel button {
  width: 100%;
}

.checkbox {
  text-align: center;
}

#loginForm {
  padding: 25px 25px 25px 25px;
  display: block;
  background-color: white;
}

#signupForm {
  margin: 0 auto;
  display: block;
  width: 500px;
  height: 500px;
}

#profile {
  margin: 0 auto;
  background-color: white;
}

#admin {
  margin: 0 auto;
  background-color: white;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    visibility: hidden;
    opacity: 0;
    transition: opacity .3s ease;
    z-index: 998;
}

#overlay.active {
    visibility: visible;
    opacity: 1;
}

#loginModel {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    visibility: hidden;
    opacity: 0;
    transition: opacity .3s ease;
}

#loginModel.active {
    visibility: visible;
    opacity: 1;
    width: 400px;
}