#main {
	width: 70%;
	height: 750px;
	background-color: white;
	margin: 0 auto;
	text-align: center;
}

#appSelection {
	margin-top: 25%;
	display: inline-block;
}

#progressView {
	display: none;
	background-color: red;
	width: 650px;
	height: 500px;
}

#loadView {
	display: none;
	background-color: blue;
	width: 650px;
	height: 500px;
}

#createView {
	display: none;
	background-color: green;
	width: 650px;
	height: 500px;
}

select {
	margin-top: 50px;
	width: 200px;
	text-align: center;
}

#addWrkt {
	margin-top: 15px;
}

