<script>
const teeBoxes = {{{json teeBoxes}}};

</script>

<div id="createRoundView">
	<h1>Create A Round!</h1>
	<form id="createRoundForm" action="/golfcard/rounds/create" method="post">
		<select id="courseSelect" name='course'>
			{{#each crs}}
				<option class="opt" value="{{this.dataValues.courseID}}">{{this.dataValues.courseName}}</option>
			{{/each}}
		</select>
		<div id="teeBoxOptions"></div>
		<input type="submit" value="Submit">
	</form>
</div>