<div id="waiting">
	<h2>Waiting for host to start the round at...</h2>
	<h1 id="round-id" data-round="{{round.dataValues.roundID}}">{{round.Course.dataValues.courseName}}</h1>

  <ul id="participant-list">
    <li>Players waiting:</li>
    {{#each participants}}
      <li>
        <button class="participant-button" onclick="location.href='/profile/{{this.dataValues.userID}}'">
          {{this.dataValues.User.dataValues.name}}
        </button>
      </li>
    {{/each}}
  </ul>

  {{#if isHost}}
    <button id="start-round">Start Round</button>
  {{/if}}
</div>